@import-normalize; /* bring in normalize.css styles */
z body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
